
/*login clases y register*/
.form-floating > label {
    background-color: transparent; /* Asegura que el fondo del label sea transparente */
    
}
.form-floating > label > i {
    background-color: transparent; /* Asegura que el fondo del label sea transparente */
    
}

.extra-links a {
    text-decoration: none; /* Quita la decoración del texto */
    font-size: 1.2rem; /* Tamaño de fuente más grande */
    margin: 0 1rem; /* Espaciado horizontal entre los enlaces */
    color:#fafbfe; /* Color del texto (puedes cambiarlo según tu preferencia) */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.extra-links a:hover {
    color: #ffffff; /* Color del texto al pasar el ratón por encima */
    text-decoration: underline;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Permite que el contenido crezca si es necesario */
    background-color: #fafbfe;
}

.login-box {
    background: rgb(255,112,0);
    background: linear-gradient(180deg, rgb(245, 110, 15) 30%, rgba(245, 135, 50, 0.925) 100%);
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.login-box form {
    width: 80%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
}



h2 {
    text-align: center;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Estilo para el mensaje de error */
.error-message {
    color:#fafbfe;
    font-size: 0.8rem;
    margin-bottom: 1.3rem;
    text-align: center;
    font-weight:bold;
}
/* Estilos para los enlaces adicionales */
.extra-links {
    text-align: center;
    margin-top: 1rem;
}
.link-secondary{
    font-weight: normal;
}



.input-form{
    background-color: #ffffff; /* Color de fondo personalizado */
    border-color: #fc8a1fef; /* Color del borde personalizado */
    border-radius: 0.90rem; /* Radio del borde personalizado */
    padding: 0.5rem 1rem; /* Padding personalizado */
    font-size: 1.1rem; /* Tamaño de fuente personalizado */
}
.input-form:focus{
    border-color:#ffaf71ef ; /* Color del borde al enfocar */
    box-shadow: 0 0 0 0.2rem rgba(253, 121, 21, 0.644);
}

.orange{
    background-color: #ff7000;
    color: #fafbfe;
    border-radius: 0.90rem;
    
}
.orange:hover{
    background-color: #ff7000;
    color: #fafbfe;
    
}
.orange:active{
    background-color: #ff7000;
    color: #fafbfe;
}

.arrow {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.arrow:before,
.arrow:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
}

.arrow:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.arrow:after {
    border: 4px solid #f8c197;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.arrow:hover:before,
.arrow:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.arrow:hover:after,
.arrow:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.arrow-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.arrow-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 21px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
}

.arrow:hover .arrow-box,
.arrow:focus .arrow-box {
    transition: 0.4s;
    transform: translateX(-56px);
}

.custom-select {
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 5l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: 2.5rem; /* Ajusta el padding para que el texto no se superponga con el triángulo */
}

@media (max-width: 768px) {
    .login-box {
        border-radius: 20px; /* Nuevo valor para resoluciones menores a 600px */
    }
}